@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-size: 14px;
  background: url("../public/glass-bg.png") no-repeat center center fixed;
}

.dark body {
  color: #f9f9f9;
  background: url("../public/bg--blur-purple.png") no-repeat center center fixed;
}

.auth-page {
  height: 100vh;
  background: url("../public/glass-bg.png") no-repeat center center fixed;
}

.auth-form {
  position: relative;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.08);
}

.auth-form > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.12;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-form,
.forgot-password-form,
.login-form {
  position: relative;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.08);
}

.register-form,
.forgot-password-form,
.login-form > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.12;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-nav {
  color: #7263f3;
}

.textarea {
  max-height: 350px;
  overflow-y: auto;
  resize: none;
}

.textarea::-webkit-scrollbar {
  width: 5px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #7263f3;
  border-radius: 6px;
}

.message-body {
  height: calc(100% - 152px);
  overflow-y: auto;
  resize: none;
  transition: all 0.3s ease-in-out;
}

.message-body::-webkit-scrollbar {
  width: 5px;
}

.message-body::-webkit-scrollbar-thumb {
  background-color: #7263f3;
  border-radius: 6px;
}

.epr-main {
  background: linear-gradient(to bottom, #faf3f7, #f5f7f9) !important;
  border: 2px solid #fff !important;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05) !important;
}

.epr-search-container > input {
  background: #fff !important;
  border: 2px solid #e5e7eb !important;
}

.epr-main > div:last-child {
  display: none !important;
}

.epr-body::-webkit-scrollbar {
  width: 5px;
}

.epr-body::-webkit-scrollbar-thumb {
  background-color: #7263f3;
  border-radius: 6px;
}

.epr-body::-webkit-scrollbar-track {
  border-radius: 6px;
}
